:root{
    --background-red: #8b0000;
    --golden-yellow: #ffc000;
}

body{
    font-family: "MedievalSharp", cursive;
    background-color: var(--background-red);
    color: var(--golden-yellow);
    /* Flex box */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn{
  margin: 10px 15px;
  width: 250px;
  letter-spacing: 2px;
  border-radius: 8px;
  font-family: "MedievalSharp", cursive;
  color: var(--golden-yellow);
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge var(--golden-yellow);
  border-left: 4px groove var(--golden-yellow);
  border-right: 4px ridge var(--golden-yellow);
  border-bottom: 4px groove var(--golden-yellow);
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
}

.btn:hover{
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}

.btn.active{
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.char-card{
  border-top: 4px ridge var(--golden-yellow);
  border-bottom: 4px groove var(--golden-yellow);
  border-right: 4px ridge var(--golden-yellow);
  border-left: 4px groove var(--golden-yellow);
  border-radius: 8px;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
}

.card-header{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: auto 15px;
}

.close-btn{
  border-top: 4px ridge var(--golden-yellow);
  border-left: 4px groove var(--golden-yellow);
  border-right: 4px ridge var(--golden-yellow);
  border-bottom: 4px groove var(--golden-yellow);
  background: radial-gradient(circle, #8b0000, #8b0000);
  font-size: 25px;
  margin: 5px;
  color: var(--golden-yellow);
  border-radius: 8px;
}